body {
    /* background-color: rgb(126, 201, 252)  */
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a, a:link, a:active {
    text-decoration: none;
    color: rgb(253, 2, 2);
  }
  
  a:hover, a:focus {
    color: rgb(255, 238, 6);
  }
  
  .nav-menu {
      list-style: none;
  }
  
  nav:hover #navLinx {
      display: block
  }

  @media screen and (min-width: 640px) {
   
    #navLinx {
        text-align: center;
    }
    span {
        display: none
    }
}
