body {
    background-color: rgb(126, 201, 252) 
}

a, a:link, a:active {
    text-decoration: none;
    color: rgb(253, 2, 2);
  }
  
  a:hover, a:focus {
    color: rgb(255, 238, 6);
  }
  
  /* a:visited {
  } */

  @media screen and (min-width: 640px) {
    .icon-menu {
        display:none
    }
}