.div {
    display: flex;
}
.pixpage1 {
    width: 250px;
    height: 250px;
}
#project1 {
    width: 250px;
}
/*
#project2 {

}
#project3 {

} */

.icon-menu:before {
    font-size: 50px;
    position: absolute;
    top: 20px;
    right:0px;
    content: "\e9bd";
      
}


icon-github, .icon-linkedin {
    font-size: 70px;
    padding: 30px;
}

#devphoto {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.skillSet {
    text-align: center;
}

.name {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 320%;
}